*{
    margin:0;
    padding:0;
}
body{
    background-image: url("img/bac.jpg");
    background-size:cover;
    background-attachment: fixed;
}
.top-details
{
    display: flex;
    width: auto;
    flex-direction: column;
    height:40vh;
    justify-content: center;
    align-items: center;
    color:white;
}
.top-details h1
{
margin-bottom: 20px;
font-size:2em;
}
.top-details h3
{
    margin-bottom: 40px;   
}
.operation{
    display: flex;
    width: 100vw;
    background-color:whitesmoke;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
}
.display_budget{
    display: flex;
    flex-direction: row;
    height: 52vh;
    background-color:white;
    width: 100vw;
    overflow:hidden;
}
.bottom-details{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.income{
    width: 23vw;
    height: 6vh;
    background-color:rgb(26, 197, 197);
    margin-bottom: 20px;
}
.expense{    
    width: 23vw;
    height: 6vh;
    background-color:tomato;
    margin-bottom: 10px;
}
.income-case
{
    width: 50vw;
    text-align: center;
    color:rgb(26, 197, 197);
    padding-top:10px;
    font-size:1.2em
}
.expense-case
{
    width: 50vw;
    text-align: center;
    color:tomato;
    padding-top:10px;
    font-size:1.2em
}
.label,.price,.pourcent
{
    display:inline-block;
    width:100px;
    background-color:teal;
}
select{
    padding: 5px;
    width: 5vw;
    border-radius: 5px;
    border:1px solid black
}
input{
    padding: 5px;
    width: 15vw;
    border-radius: 5px;
    border:1px solid grey;
}
button{
    width: 4vw;
    height: 6vh;
    border-radius: 50%;
    border:1px solid rgb(23, 127, 158);
    color:teal;
}